body {
  margin: 0px;
}

/* relative */
.box1 {
  /* 기본값 : position: static; */
  width: 100px;
  height: 100px;
}
.box1-red {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: red;
}
.box1-orange {
  position: relative;
  top: 20px;
  right: 20px;
  background-color: orange;
}
.box1-yellow {
  position: absolute;
  background-color: yellow;
}

.sm-box1 {
  width: 50px;
  height: 50px;
}
.box1-green {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: green;
}

.fixed {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100px;
  background-color: skyblue;
}

.box2 {
  position: relative;
}

.box2 {
  z-index: 999;
  position: absolute;
  width: 100px;
  height: 100px;
}
.box2-blue {
  z-index: 3;
  background-color: blue;
}
.box2-navy {
  z-index: 2;
  top: 20px;
  left: 20px;
  background-color: navy;
}
.box2-purple {
  z-index: 1;
  top: 40px;
  left: 40px;
  background-color: purple;
}

/* div {
    display: block;
} */

/* inline : width, height, margin(top, bottom) 무용지물 */
/* inline-block : inline과 block의 특징을 합쳐놓음 (inline: content의 크기만큼만 공간을 차지 / block : width, height, margin 정상 작동 */
.box3 {
  background-color: black;
  width: 100px;
  height: 100px;
  color: white;
  margin: 5px;
}
.d-inline-block {
  display: inline-block;
  padding: 20px;
}
.box4 {
  background-color: black;
  width: 100px;
  height: 100px;
  color: white;
  margin: 5px;
}
.container1 {
  display: flex;
  height: 500px;
  flex-direction: column-reverse;
}

/* flex-wrap, justify-content */
.box5 {
  background-color: black;
  width: 100px;
  height: 100px;
  color: white;
  margin: 10px;
}
.container2 {
  display: flex;
  width: 400px;
  height: 150x;
  background-color: grey;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}
.box6 {
  background-color: black;
  width: 150px;
  height: 100px;
  color: white;
  margin: 10px;
}
.container3 {
  display: flex;
  width: 400px;
  height: 250x;
  background-color: grey;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-end;
}
