.box {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  animation: movetoright;
}

@keyframes movetoright {
  from {
    left: 0;
  }
  to {
    left: 100px;
  }
}
