.container {
  width: 500px;
  height: 500px;
  background-color: beige;
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}

/* @media print {
  .container {
    background-color: black;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    background-color: black;
  }
}

@media screen and (max-width: 1000px) {
  .orange {
    background-color: black;
  }
} */
