.container {
  position: relative;
}

.larva {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.head {
  z-index: 3;
  background-color: green;
  position: relative;
}
.eye1 {
  z-index: 2;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  left: 10px;
}
.eye2 {
  z-index: 1;
  position: absolute;
  width: 5px;
  height: 5px;
  top: 7px;
  left: 2px;
}

.head {
  z-index: 4;
  background-color: rgb(61, 176, 107);
  top: 10px;
  left: 10px;
}
.body1 {
  z-index: 5;
  background-color: rgb(27, 144, 74);
  top: 35px;
  left: 30px;
}
.body2 {
  z-index: 6;
  background-color: rgb(53, 196, 110);
  top: 50px;
  left: 50px;
}
.body3 {
  z-index: 7;
  background-color: rgb(53, 183, 105);
  top: 60px;
  left: 80px;
}
.tail {
  z-index: 9;
  background-color: rgb(28, 158, 80);
  top: 60px;
  left: 120px;
}
