<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resGetInfo</title>
  </head>
  <body>
    <form action="/get" method="get" target="_blank" name="login">
      <input type="text" name="id" placeholder="Enter your ID" />
      <br />
      <input type="password" name="pw" placeholder="Enter your password" />
      <br />
      <button type="button">LOGIN</button>
      <a href="/join"><button type="button">JOIN</button></a>
    </form>

    <script>
      console.log(document.forms["login"])
    </script>
    </form>
  </body>
</html>