h1:hover {
  background-color: red;
}
a:active {
  background-color: blue;
}
input:focus {
  background-color: orange;
}

.navy {
  color: white;
  background-color: navy;
}
.yellow {
  background-color: yellow;
}

div.box::before {
  content: "택시~";
}
div.box::after {
  content: "빨리!";
}

[placeholder="name"] {
  background-color: orange;
}
[disabled] {
  background-color: red;
}
input:not([placeholder]) {
  background-color: blue;
}
