body > .lion {
  background-color: red;
}
div ul .lion {
  background-color: greenyellow;
}
#tiger {
  background-color: yellow;
}
.lion {
  color: sienna;
}
.zoo ul .lion {
  font-weight: bold;
}
#tiger + li {
  background-color: skyblue;
}
.zoo .lion + .lion ~ li {
  background-color: orange;
}
